<%- include('./layouts/header.ejs') %>

    <!-- TOPO -->
    <%- include('./top.ejs')  %> 

    <!-- IPHONE -->
    <%- include('./iphone.ejs')  %> 

    <!-- MÉTODO ONEVALUE -->
    <%- include('./onevalue.ejs')  %> 

    <div class="border-shadow-green"></div>

    <!-- CONTEÚDO PROGRAMÁTICO -->
    <%- include('./content.ejs')  %> 

    <div class="border-shadow-green"></div>

    <!-- INSCREVA-SE -->
    <%- include('./subscribe.ejs')  %> 

    <!-- SATISFAÇÃO -->
    <%- include('./satisfaction.ejs')  %> 

    <!-- MAURO -->
    <%- include('./mauro.ejs')  %> 

    <!-- FAQ -->
    <%- include('./faq.ejs')  %> 

    <div class="border-shadow-green mt-5"></div>


    <%- include('./layouts/footer.ejs') %>